@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:black;
    --black:#13131a;
    --bg: #BAACA3;
    --border-radius:93% 4% 97% 5%/4% 94% 3% 93%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);
    
  
  
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0px; padding: 0px;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
    
}

html{
    background-color:  #f9f2ec;
    margin: auto; padding: 10px;
    width: 80%;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


body{
    background: var(--bg)
}

section{
    padding:2rem 9%;
}

.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color: #958C7F;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:var(--main-color);
    font-size: 3rem;
}

.btn{
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: var(--border-radius);
    color:var(--main-color);
    background: none;
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover{
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}

.main-header{
    position: fixed;
    width: 78.5%; 
    top:0; right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #6E6A60;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem 9%;

}

.main-header .logo{
    width: 75px;

}

.main-header .logo i{
    padding-left: .5rem;
}

.main-header .navbar a{
    margin: 0 1.5rem;
    font-size: 1.7rem;
    color:var(--main-color);
    color: #fff;   
}
.navbar a:hover{
    color:#fff5d5;
    transition: 0.5s;

}
/*header icon*/

header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #fff; 
}

header .icons i:hover{
    color: #fff;
    background: var(--blue);
    transform: rotate(360deg);
}

header .search-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}

header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

header .search-form label:hover{
    color: var(--blue);
}


.home{
    min-height: 100vh;
    padding-top: 9rem;
    background: url(image/back.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 20rem;
}

.home .row .image{
    flex:1 1 20rem;
    padding-top: 6rem;
    text-align: center;
}

.home .row .image img{
    height: 40rem;
    border-radius: 10%;
}

.home .row .content h3{
    font-size: 5rem;
    color:var(--main-color);
    text-transform: uppercase;
}





.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .content{
    flex:1 1 42rem;
    text-align: center;

}

.about .row .content .title{
    color:var(--main-color);
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.8;
}

.about .row .content p{
    color:var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

}
.donate .row .content .title{
    color:var(--main-color);
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.8;
}
.donate .row .content p{
    color:var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}



/******************************leadership section********************************/
.leadership{
    padding-top: 10%;

}
.leadership .row .content .title{
    color:var(--main-color);
    text-align: center;
    font-size: 3rem;
    line-height: 1.8;
}
.leadership .row .content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.leadership .row .content p{
    color:var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    font-style: italic;
   

}

/********************************news & media section******************************/
.blog{
    padding-top: 10%;
}
.title{
    color:var(--main-color);
    text-align: center;
    font-size: 3rem;
    line-height: 1.8;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;


}
.blog-box{
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 10px;

}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;

}
.blog-text span{
    color: #3d3528;
    font-size: 1.5rem;
}
.blog-text .blog-title{
    font-size: 2rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover{
    color: #99415b;
    transition: all ease 0.3s;
}
.blog-text p{
    color:#686363;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
    font-size: 1.5rem;

}
.blog-text a:hover{
    color: #f33c3c;
    transition: all ease-out 0.3s;
}
@media (max-width:1250px){
    .blog-box{
        width: 300px;
    }
    
}
@media (max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media (max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }

/*******************videos****************/
}
.media .row .content .title{
    color:var(--main-color);
    text-align: center;
    font-size: 3rem;
    line-height: 1.8;
}


.video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-container .video{
    height: 25rem;
    width: 35rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    overflow: hidden;
    border-radius: 1rem;
}
.video-container .video iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;

}




/****************************contact us section****************************/
.contact{
    padding-top: 10%;

}


.contact form{
    padding-top: 100px;
    margin:0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding:3rem;
    border:var(--border);
}

.contact form .box{
    width:100%;
    padding:1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background:none;
    text-transform: none;
    color:var(--main-color);
    border:var(--border);
    margin:.7rem 0;
}

.contact form .box:focus{
    border:var(--border-hover);
}

.contact form textarea{
    height:15rem;
    resize: none;
}

/* footer */
.footer{
    background: #6E6A60;
    text-align: center;
    clear:both;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    font-size: 1.7rem;
    border-radius: 5%;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 1.5rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}
.footer .credit a{
    font-size: 1.7rem;
    color:rgb(3, 0, 0);
    padding:1.5rem;
    font-weight: bolder;
}









/* media queries  */

@media(max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media(max-width:768px){

    .heading{
        font-size: 6rem;
    }

    .heading span{
        font-size: 2.3rem;
    }

    #menu-btn{
        display: initial;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background:#fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        display: block;
        font-size: 2.2rem;
        margin:0;
        padding:1.5rem 2rem;
    }

    .home{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 4rem;
    }

    .menu .box-container .box{
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }

    .menu .box-container .box img{
        margin-left: 0;
        margin-top: -6rem;
    }

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .home .row .image img{
        height: auto;
        width: 100%;
    }

}